* {
	padding:0px;
	margin:0px;
}
body {
  position: relative;
}

p{
	font-family: 'Lora', serif;
}
a {
	text-color: white;
}
.about-bg-color {
	background: #fafafa;
}
.about-bg-mid {
	background: #ffffff;
}
.nav-bg {
	background: #8ec642;
}
.navbg {
	background: #008a00;
	color: #ffffff
}
a {
	color: white;
}
.font-1 {
	font-family: 'Lobster', cursive;
}

.font-2 {
	font-family: 'Francois One', sans-serif;
}

.font-3 {
	font-family: 'Courgette', cursive;
}
.font-4 {
	font-family: 'Lora', serif;
}

.font-5 {
	font-family: 'Oswald', sans-serif;
	
}
.f-color-1 {
	color: #008a00;
}
